@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

header {
    background-color: gray;    
}

header h1{
    text-align: center;
    padding: 10px;
}

span#burguer{
    background-color: #363636;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

span#burguer:hover{
    background-color: lightgray;
    color: black;
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;
    margin-bottom: 10px;
}

menu ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #5a5a5a;
    color: white;
    font-weight: bolder;
    border: 2px solid gray;
    text-align: center;
}

menu ul li a:hover{
    background-color: gray;
}

main{
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

main h2{
    text-align: center;
    padding-bottom: 20px;
}

main p{
    text-align: justify;
}