@charset "UTF-8";

body{
    background-color: #c4e4c4;
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    background-color: #7BAD7B;
    color: #c4e4c4;
    text-align: center;

}
h1{
    color: #7BAD7B;
}
h2{
    color: #AD9684;
}
p{
    text-align: justify;
}
.basico{
    color: #008100;
}
.intermediario{
    color: #a0a000;
}
.avancado{
    color: #a30000;
}
.destaque{
    background-color: yellow;
}